<div class ="container-fluid mt-5 about-style" id="aboutid">
<div class="row">
<div class="col-md-10 col-12 mx-auto ">
  <h1 class="text-centre main-heading">About us</h1>
  <p class="text-centre sub-heading">grow your own business with us</p>
  <div class="row"> 
    <div class="col-md-6 col-12  hero text order-md-1 order-0 ">
  <figure>
    <img src="images/about.svg" alt="herosection">
  </figure>

    </div>
    <div class="col-md-6 col-12  hero text order-md-0 order-1d-flex justify-content-centre align-items-centre flex-column">
<h1>WE ARE THE PROFESSIONAL DEVELOPER✌️</h1>
<h1>GROW YOUR BUSINESS</h1>
<p>we are the team of <span class="bold-style">professional developers✌️</span> </p>
<button class="btn-style btn-primary">Read More</button>
    </div>

 
  </div>
</div>
</div>
</div>